@font-face {
  font-family: gotham-reg;
  src: url(./Gotham/Gotham-Book.otf);
}

@font-face {
  font-family: gotham-bold;
  src: url(./Gotham/Gotham-Thin.otf);
}

@font-face {
  font-family: gotham;
  src: url(./Gotham/Gotham-BookItalic.otf);
}

@font-face {
  font-family: gothambook;
  src: url(./Gotham/Gotham-Book.otf);
}

@font-face {
  font-family: gothamB;
  src: url(./Gotham/TestTheFuture-Regular-BF6645817a3005a.otf);
}

@font-face {
  font-family: gothbold;
  src: url(./Gotham/Gotham-Bold.otf);
}
:root {
  --base-color: #1e1e1e;
  --primary-color: #d5d5d5;
  --box-shadow: rgba(0, 0, 0, 0.5);
  --box-shadow2: rgba(0, 0, 0, 0.2);
  --border: rgba(255, 255, 255, 0.25);
  --border-top: rgba(255, 255, 255, 0.5);
  --about-border: rgba(40, 40, 40, 0.2);
  --hover-view-bkg: #353535;
}
.darkMode {
  transition: 0.5s ease;
  --primary-color: #1e1e1e;
  --base-color: #d5d5d5;
  --box-shadow: rgba(255, 255, 255, 0.5);
  --box-shadow2: rgba(255, 255, 255, 0.2);
  --border: rgba(0, 0, 0, 0.25);
  --border-top: rgba(0, 0, 0, 0.5);
  --about-border: rgba(215, 215, 215, 0.2);
  --hover-view-bkg: #fefefe;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--primary-color);
  scroll-behavior: smooth;
}

.container {
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
}

/*---------------------NAVIGATION-------------------*/
nav {
  position: fixed;
  z-index: 7;
  height: 2.5em;
  /* border: 1px solid black; */
}

.navigation {
  height: 30px;
  width: 99vw;
  background-color: var(--primary-color);
  position: relative;
  font-family: gotham-reg;
  padding: 0.6em 0.8em 0em 0.8em;
  display: flex;
  justify-content: space-between;
}

nav a {
  font-size: 0.8em;
  color: var(--base-color);
  text-decoration: none;
}

.nav-links {
  display: flex;
  gap: 1em;
}
.nav-center {
  display: flex;
  gap: 1em;
}
nav p {
  color: var(--base-color);
  font-size: 0.8em;
}

.fish1 {
  color: var(--base-color);
  font-size: 0.8em;
  padding: 0.4em 0.5em;
  border-radius: 50%;
  border: 1px solid var(--base-color);
  /* animation: spin 7s infinite ease-in-out; */
  cursor: pointer;
}

.menu-icon {
  display: none;
  font-size: 1.3em;
  color: var(--base-color);
}
.resTog {
  display: none;
}
/*---------------------HERO SECTION-------------------*/
.hero {
  background-color: #1e1e1e;
  position: relative;
  border: 1px solid var(--base-color);
  height: 550px;
  width: 90vw;
  max-width: 100%;
  margin-inline: auto;
  border-radius: 25px;
  padding: 5em;
  margin-top: 3em;
}

.hero-items {
  width: 90%;
}

.hello-txt {
  position: absolute;
  background-color: #1e1e1e;
  font-family: gotham;
  font-size: 4em;
  text-align: center;
  color: blanchedalmond;
  background-color: transparent;
  text-transform: lowercase;
  transition: 1s;
  letter-spacing: 0.5em;
  animation: hello 4s ease;
  z-index: 3;
}

.orange-ball {
  z-index: 2;
  position: absolute;
  background-color: orangered;
  border-radius: 50%;
  height: 160px;
  width: 160px;
  margin-left: 13em;
  margin-top: 6em;
}

.fa-arrow-right-long {
  z-index: 3;
  position: absolute;
  background-color: transparent;
  color: blanchedalmond;
  font-size: 4em;
  margin-top: 1.4em;
  margin-left: 6em;
  transform: rotate(-30deg);
  padding: 0.1em 0.5em;
  border: 2px solid blanchedalmond;
  border-radius: 35%;
  animation: arrowPad 4s ease-out;
}

.intro {
  position: absolute;
  background-color: transparent;
  z-index: 3;
  font-family: serif;
  font-size: 7em;
  color: blanchedalmond;
  margin-left: 5em;
}

.fa-burst {
  z-index: 2;
  position: absolute;
  background-color: transparent;
  color: limegreen;
  font-size: 12em;
  margin-left: 3.4em;
}

.fa-arrow-turn-down {
  z-index: 3;
  position: absolute;
  background-color: transparent;
  color: rgb(233, 168, 71);
  font-size: 7em;
  margin-left: 7.5em;
  margin-top: 1.2em;
}

.name {
  z-index: 3;
  position: absolute;
  background-color: transparent;
  font-family: gothamB;
  color: blanchedalmond;
  margin-top: 4.3em;
  margin-left: 6em;
  font-size: 4em;
  letter-spacing: 0.3em;
}

.name-prof {
  z-index: 3;
  position: absolute;
  background-color: transparent;
  font-family: gothamB;
  color: blanchedalmond;
  margin-top: 11em;
  margin-left: 12em;
  font-size: 2em;
}

.fish2 {
  z-index: 3;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.104);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  padding: 0.2em;
  transition: 0.5s;
  color: rgb(233, 168, 71);
  font-size: 9em;
  border-radius: 0.25em;
  margin-top: 1.6em;
  margin-left: 0.4em;
  transform: rotate(180deg);
  animation: fishy 4s ease infinite;
  cursor: pointer;
}

.fish2:hover {
  text-shadow: 0 0 90px rgb(41, 164, 212, 0.8);
  color: rgb(50, 167, 213);
}

.purple-ball {
  z-index: 2;
  position: absolute;
  background-color: blueviolet;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  margin-left: 13em;
  margin-top: 24em;
}

/*---------------------FOOTER-------------------*/
.footer {
  position: relative;
  height: 200px;
  margin-top: 3.2em;
  overflow: hidden;
}

.stock-ticker {
  font-family: gotham-bold;
  font-size: 3.2em;
  padding-block: 10px;
  border-block: 1px solid var(--base-color);
  overflow: hidden;
  user-select: none;
  display: flex;
  gap: 50px;
}

.stock-ticker ul {
  color: var(--base-color);
  list-style: none;
  flex-shrink: 0;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  animation: bannerScroll 20s linear infinite;
}

.stock-ticker:hover ul {
  animation-play-state: paused;
}

/*---------------------WORK SECTION-------------------*/
.working {
  position: relative;
  height: 630px;
  width: 100%;
  display: grid;
  place-content: center;
}

.workprojects {
  height: 500px;
  font-family: gothamB;
  width: 95vw;
  display: grid;
  grid-auto-columns: 1fr;
  gap: 0.5em;
  grid-template-areas:
    "box1 box2 box3"
    "box4 box5 box3"
    "box4 box5 box6";
}

.grid-item {
  animation-duration: 2s;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 30%;
  /* padding: 0.5em 1em; */
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  color: var(--base-color);
  box-shadow: 0 15px 25px var(--box-shadow);
  border: 1px solid var(--base-color);
  border-top: 1px solid var(--base-color);
  border-left: 1px solid var(--base-color);
  border-radius: 0.75rem;
  cursor: pointer;
  padding-bottom: 0.2em;
}
.grid-item #show {
  color: var(--base-color);
  padding: 0.4em 0.7em;
  border: 1px solid var(--base-color);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.8s ease;
  font-weight: bold;
  font-size: 1em;
}
.grid-item #show:hover {
  color: var(--primary-color);
  background-color: var(--base-color);
}
.grid-item h2 {
  margin-bottom: 0.5em;
}

.grid-item-1 {
  grid-area: box1;
  cursor: default;
  background-color: var(--primary-color);
  font-size: 1.7em;
  line-height: 0.9em;
  font-weight: 900;
  place-content: center;
  padding: 0em;
  box-shadow: none;
}

.grid-item-1:hover {
  background-color: transparent;
}

#have {
  color: orangered;
}

.grid-item-2 {
  grid-area: box2;
}
.grid-item img {
  border: 1px solid var(--base-color);
  height: 100%;
  width: 100%;
  border-radius: 0.6em;
  transform: scale(0.9);
  object-fit: cover;
  background-color: none;
}

.grid-item-3 {
  grid-area: box3;
}

.grid-item-4 {
  grid-area: box4;
}

.grid-item-5 {
  grid-area: box5;
}

.grid-item-6 {
  grid-area: box6;
}

.grid-item-8 {
  grid-area: box8;
}

.workprojects h2 {
  background-color: transparent;
  font-size: 1em;
}
.projects-manuals {
  margin: 0.3em 0.3em;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
}
.projects-manuals ul {
  display: flex;
  background-color: var(--primary-color);
  place-items: center;
  gap: 0.2em;
  list-style: none;
}
.projects-manuals li {
  width: fit-content;
  padding: 0 0.5em 0 0.5em;
  height: 2.3em;
  font-size: 12px;
  place-content: center;
  text-decoration: none;
  background-color: var(--primary-color);
  /* color: rgb(245, 241, 232); */
  /* background-color: orangered; */
  border: 1px solid var(--base-color);
  border-radius: 0.2em;
}
.grid-item a {
  background-color: transparent;
}
.grid-item p {
  background-color: transparent;
}
.view-project {
  background-color: var(--base-color);
  color: var(--primary-color);
  box-shadow: none;
  width: 98%;
  cursor: pointer;
  border: none;
  transition: 0.3s ease;
  border-radius: 0.4em;
  height: 3em;
}
.view-project i {
  background-color: transparent;
}
.view-project:hover {
  color: var(--primary-color);
  background-color: var(--hover-view-bkg);
  border: none;
}

.fa-question {
  background-color: transparent;
}
.mainviewport p {
  position: absolute;
}
.infomatic {
  display: none;
  padding: 1em;
  position: absolute;
  z-index: 200;
  height: 22.3em;
  width: 26.3em;
  background-color: #e3e3e3;
  border-radius: 0.5em;
  transition: display 0.7s ease;
}
.infomatic .infoText {
  background-color: transparent;
  height: 18em;
  width: 100%;
  font-size: 13px;
}
.infomatic button {
  display: block;
  background-color: #1e1e1e;

  margin-top: 4.5em;
  color: #e3e3e3;
  box-shadow: none;
  width: 20%;
  cursor: pointer;
  border: none;
  transition: 0.3s ease;
  border-radius: 0.4em;
  height: 2.5em;
}
/*---------------------TOOLS----------------------*/
.tools {
  height: 25em;
  /* 
  border: 1px solid black; */
  margin-top: 20em;
}
.tools h1 {
  color: var(--base-color);
  font-size: 3.1em;
  font-family: gothambook;
  text-align: center;
}
.toolIcons {
  display: flex;
  justify-content: center;
  /* border: 1px solid black; */
  margin-top: 5em;
  height: 10em;
}

.caurel-track {
  width: 28.5em;
  height: 6.5em;
  /* border: 1px solid red; */
  overflow: hidden;
  white-space: nowrap;
}
.toolIcons .tIcons {
  display: inline-block;
  margin-right: 1em;
  border-radius: 0.75em;
  background-color: #1e1e1e;
  border: 1px solid var(--base-color);
  height: 6em;
  width: 6em;
  text-align: center;
  place-content: center;
  cursor: pointer;
  transition: 0.5s ease;
}
.toolIcons .tIcons:hover {
  background-color: #2a2835;
  transition: 0.4s ease-in-out;
}
.tIcons {
  display: flex;
  flex-direction: row;
  color: #d5d5d5;
}
.tIcons p {
  padding-top: 0.4em;
  background-color: transparent;
  font-family: gothambook;
  font-size: 10px;
}
.tIcons i {
  font-size: 2.5em;

  background-color: transparent;
}
.tIcons img {
  width: 2.4em;
  height: 2.4em;
  object-fit: cover;
  background-color: transparent;
}
.tools .toggleSkills {
  display: flex;
  font-family: gothambook;
  justify-content: center;
  gap: 1em;
  margin-bottom: 4em;
}
.toggleSkills button {
  background-color: #1e1e1e;
  color: #d5d5d5;
  border-radius: 0.75em;
  border: 1px solid var(--base-color);
  padding: 0.8em 1.9em;
  cursor: pointer;
}
.toggleSkills button:hover {
  background-color: #3c3c3c;
}
.toggleSkills p {
  padding: 0.8em 1.9em;
}
.tools .downloadBttn {
  color: black;
  height: 6em;

  display: flex;
  justify-content: center;
  place-items: center;
  flex-direction: column;
}
.downloadBttn a {
  border: 1px solid var(--base-color);
  background-color: #1e1e1e;
  color: white;
  font-family: gothambook;
  text-decoration: none;
  padding: 0.7em 2em;
  border-radius: 0.8em;
}
/*---------------------ABOUT ME-------------------*/
.about-me {
  margin-top: 15em;
  height: 630px;
  max-height: 750px;
  width: 100%;
  display: grid;
  place-content: center;
  font-family: gothambook;
}

.about-field {
  height: 600px;
  font-family: gothamB;
  margin-bottom: 1em;
  width: 95vw;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-areas:
    "box1 box1 box2"
    "box3 box3 box2"
    "box3 box3 box2"
    "box3 box3 box2";
}

.gridItem {
  background-color: var(--primary-color);
  animation-duration: 2s;
  color: var(--base-color);
  animation: appear2 linear;
  animation-timeline: view();
  animation-range: entry 0 cover 30%;
  padding: 0.5em 1em;
  display: flex;
  flex-direction: column;
  border: 0.1px solid var(--about-border);
}

.gridItem h2 {
  background-color: transparent;
}
.gridItem p {
  background-color: transparent;
}
.grid-item1 {
  grid-area: box1;
}

.grid-item2 {
  grid-area: box2;
}

.grid-item2 img {
  object-fit: cover;
  width: 400px;
  height: 560px;

  transition: 6s ease;
}

.grid-item3 {
  grid-area: box3;
}

.grid-item3 h2 {
  margin-bottom: 0.3em;
}

.grid-item4 {
  grid-area: box4;
  cursor: pointer;
  place-content: center;
  text-align: center;
}

.faqItem {
  margin: 0.3em;
  max-height: 15em;
  width: 80%;
  border: 1px solid var(--base-color);
  border-radius: 1.2em;
  padding: 0.3em 0.6em 0.3em 0.7em;
  background-color: transparent;
}
.faqItem .question {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
}
.question i {
  font-size: 1em;
  color: var(--primary-color);
  background-color: var(--base-color);
  border: 1px solid var(--base-color);
  padding: 0.5em 0.6em;
  transition: 0.7s ease;
  cursor: pointer;
  border-radius: 50%;
}
.question p {
  background-color: transparent;
}
.answer {
  transition: 0.7s ease;
  max-height: 0em;
  overflow: hidden;
  background-color: transparent;
}
.answer p {
  background-color: transparent;
  margin-top: 1em;
  margin-left: 1.2em;
}
.faqItem.active {
  background-color: var(--base-color);
  color: var(--primary-color);
}
.faqItem.active i {
  background-color: var(--primary-color);
  color: var(--base-color);
  transform: rotate(45deg);
}
.faqItem.active .answer {
  max-height: 15em;
  color: var(--primary-color);
}

/*---------------------Contact ME-------------------*/
.contact-me {
  margin-top: 20em;

  height: 630px;
  width: 100%;
}

.contact-me h1 {
  text-align: center;
  font-size: 3.1em;
  font-family: gothambook;
  margin-bottom: 0.2em;
  color: var(--base-color);
}

.dash {
  display: flex;
  justify-content: center;
  gap: 2em;
  padding-left: 5em;
  color: var(--base-color);
}

.dash i {
  font-size: 2.7em;
  color: orangered;
}

.dash .line {
  margin-top: 1.3em;
  height: 2px;
  width: 16em;
  border-radius: 2px;
  background-color: var(--base-color);
}

.dash p {
  place-content: center;
  font-family: gothambook;
  font-size: 1.2em;
  border: 1px solid #1e1e1e;
  border-radius: 50%;
  padding: 0em 0.5em;
}

.cols {
  display: flex;
}

.right-col {
  margin: 2.5em 0em 1em 2em;
  flex: 1;
}

form {
  border: 1px solid var(--base-color);
  border-radius: 0.75em;
  padding: 2em;
}
form input {
  padding-left: 0.5em;
}
form textarea {
  padding-top: 0.5em;
  padding-left: 0.5em;
}
.right-col button {
  width: 10em;
  height: 3em;
  border-radius: 25px;
  border: solid 1px var(--base-color);
  color: var(--base-color);
  font-family: gothambook;
  font-weight: 900;
  font-size: 13px;
  margin-top: 2em;
  cursor: pointer;
}

.right-col button:hover {
  background: #000;
  color: #e3e3e3;
}

button .fa-arrow-right {
  background-color: transparent;
}

button:hover .fa-arrow-right {
  transition: 0.8s;
  background-color: transparent;
  animation: arrow 2s linear infinite;
}

.right-col textarea {
  margin-top: 3rem;
  width: 30em;
  height: 18em;
  resize: none;
}

.contact-inputs {
  width: 17rem;
  height: 4em;
  border: none;
  border-bottom: solid 1px var(--base-color);
  color: var(--base-color);
  background-color: transparent;
}

.left-col {
  position: relative;
  flex: 1;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  place-items: center;
  font-family: gotham-bold;
}

.circleBadge {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--base-color);
  display: flex;
  justify-content: center;
  place-items: center;
}

.logoBadge {
  position: absolute;
  border: 1px solid var(--base-color);
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  place-items: center;
  background-color: var(--primary-color);
  font-size: 0.6em;
}

.textBadge {
  position: absolute;
  background-color: transparent;
  width: 100%;
  height: 100%;
  animation: rotateText 10s linear infinite;
}

.textBadge span {
  color: var(--base-color);
  position: absolute;
  background-color: transparent;
  left: 50%;
  font-size: 0.7em;
  transform-origin: 0 150px;
}

.fa-star {
  position: absolute;
  background-color: transparent;
  z-index: 8;
  font-size: 6em;
  top: 12%;
  left: 12%;
  color: var(--base-color);
}

.f2 {
  position: absolute;
  background-color: transparent;
  z-index: 8;
  font-size: 2em;
  top: 10%;
  left: 5%;
  color: orangered;
}

.left-col p {
  font-size: 1.9em;
  font-weight: 900;
}

.icons {
  z-index: 12;
  position: absolute;
  background-color: transparent;
}

.icons i {
  border: 1px solid orangered;
  background-color: orangered;
  color: #d5d5d5;
  border-radius: 50%;
  padding: 0.5em 0.6em;
  font-size: 1.3em;
  cursor: pointer;
  transition: 0.5s;
}

.icons i:hover {
  border: 1px solid limegreen;
  background-color: limegreen;
  color: #d5d5d5;
}

/*------------------------------Scrollbar--------------------------*/
::-webkit-scrollbar {
  width: 9px;
  z-index: 18;
  position: relative;
}

::-webkit-scrollbar-thumb {
  border-radius: 2em;
  background-color: var(--base-color);
  z-index: 18;
  position: absolute;
}
